<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="wsdl_uri" value="http://192.168.0.33:9000/GetService"/>
	</appSettings>
	<system.serviceModel>
		<bindings />
  <client />
  <services>
			<service name="_1118_Server.MemberService" behaviorConfiguration="FileServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://192.168.0.33:9000/GetService"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding"  contract="_1118_Server.Imember" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="FileServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>